<button class="btn-primary" [disabled]="!addServersEnabled" (click)="onAddServer()">Add Server</button>
<!-- <input type="text" placeholder="enter your new server here" class="formControl" (input)="createServer($event)" /> -->
<input type="text" placeholder="enter your new server here" class="formControl" [(ngModel)]="createServerName" />
<p>{{createServerName}}</p>
<p [innerHtml]="addServersStatus()"></p>
<!-- <p>{{addedServerYet}}</p> -->
<p *ngIf="createdServer; else noServer">{{addedServerYet}}</p>
<ng-template #noServer>
  <p>No server was created yet!</p>
</ng-template>
<div class="app-server"></div>
<div class="app-server"></div>
<div class="app-server"></div>
